{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-blue-sapphire text-center fw-bold fs-52">{{ .Title }}</h2>
        <div class="d-grid gap-16 mt-32">
          {{ if .Paginator.Pages }}
            {{ range .Paginator.Pages }}
              {{ partial "post-card.html" . }}
            {{ end }}
          {{ else }}

          <div>
            <!--seccion-->
            <div>
                <div class="row bordeAzul">
                    <div class="col-md-1 fondoAzul centrado propiedadImg">
                        <img src="ico1.png" alt="">
                    </div>
                    <div class="col-md-11 titOtras colorAzul">
                        Función de Transparencia y Control Social
                    </div>
                </div>
                <div>
                    <ul class="listadoUrl colorAzul">
                        <li><a href="https://www.cpccs.gob.ec/" target="_blank">Consejo de Participación Ciudadana y Control Socia</a></li>
                        <li><a href="https://www.dpe.gob.ec/" target="_blank">Defensoría del Pueblo</a></li>
                        <li><a href="https://www.contraloria.gob.ec/" target="_blank">Contraloría General del Estado</a></li>
                        <li><a href="https://www.superbancos.gob.ec/" target="_blank">Superintendencia de Bancos</a></li>
                        <li><a href="https://www.supercias.gob.ec/" target="_blank">Superintendencia de Compañías de Valores y Seguros</a></li>
                        <li><a href="https://www.scpm.gob.ec/" target="_blank">Superintendencia de Control de Poder del Mercado</a></li>
                        <li><a href="https://www.seps.gob.ec/" target="_blank">Superintendencia de Economía Popular y Solidaria</a></li>
                        <li><a href="https://www.sot.gob.ec/" target="_blank">Superintendencia de Ordenamiento Territorial, Uso y Gestión del Suelo</a></li>
                    </ul>
                </div>
            </div>
            <!--seccion-->
            <div class="espacioSecciones">
                <div class="row bordeNaranja">
                    <div class="col-md-1 fondoNaranja centrado propiedadImg">
                        <img src="ico2.png" alt="">
                    </div>
                    <div class="col-md-11 titOtras colorNaranja">
                        Función Judicial
                    </div>
                </div>
                <div>
                    <ul class="listadoUrl colorNaranja">
                        <li><a href="https://www.funcionjudicial.gob.ec/" target="_blank">Consejo de la Judicatura</a></li>
                        <li><a href="https://www.cortenacional.gob.ec/" target="_blank">Corte Nacional de Justicia</a></li>
                        <li><a href="https://pichincha.funcionjudicial.gob.ec/" target="_blank">Corte Provincial de Justicia</a></li>
                        <li><a href="https://www.fiscalia.gob.ec/" target="_blank">Fiscalía General del Estado</a></li>
                        <li><a href="https://www.defensoria.gob.ec/" target="_blank">Defensoría Pública</a></li>
                        <li><a href="https://www.funcionjudicial.gob.ec/index.php/es/component/content/article/25-consejo-judicatura/666-sistema-notarial-prueba.html" target="_blank">Servicios Notariales</a></li>
                    </ul>
                </div>
            </div>
            <!--seccion-->
            <div>
                <div class="row bordeAzul">
                    <div class="col-md-1 fondoAzul centrado propiedadImg">
                        <img src="ico3.png" alt="">
                    </div>
                    <div class="col-md-11 titOtras colorAzul">
                        Función Electoral
                    </div>
                </div>
                <div>
                    <ul class="listadoUrl colorAzul">
                        <li><a href="https://www.cne.gob.ec/" target="_blank">Consejo Nacional Electoral</a></li>
                        <li><a href="https://www.tce.gob.ec/" target="_blank">Tribunal Contencioso Electoral</a></li>
                    </ul>
                </div>
            </div>
            <!--seccion-->
            <div class="espacioSecciones">
                <div class="row bordeNaranja">
                    <div class="col-md-1 fondoNaranja centrado propiedadImg">
                        <img src="ico4.png" alt="">
                    </div>
                    <div class="col-md-11 titOtras colorNaranja">
                        Función Legislativo
                    </div>
                </div>
                <div>
                    <ul class="listadoUrl colorNaranja">
                        <li><a href="https://www.asambleanacional.gob.ec/" target="_blank">Asamblea Nacional de la República del Ecuador</a></li>
                    </ul>
                </div>
            </div>
            <!--seccion-->
            <div class="espacioSecciones">
                <div class="row bordeAzul">
                    <div class="col-md-1 fondoAzul centrado propiedadImg">
                        <img src="ico5.png" alt="">
                    </div>
                    <div class="col-md-11 titOtras colorAzul">
                        Otros
                    </div>
                </div>
                <div>
                    <ul class="listadoUrl colorAzul">
                        <li><a href="#" target="_blank">Juntas Parroquiales</a></li>
                        <li><a href="#" target="_blank">Municipios</a></li>
                        <li><a href="#" target="_blank">Prefecturas</a></li>
                        <li><a href="https://www.corteconstitucional.gob.ec/" target="_blank">Corte Constitucional</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <! -- <p class="text-center fs-22">Próximamente, se habilitará este módulo.</p> -->
          {{ end }}
          <div class="text-center">
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
